{% extends "base.html" %}

{% block titulo %}Regristro de usuario{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-8 col-6 col-lg-4 bg-white rounded p-4 shadow">
            <div >
                <h1 class="h4 mb-3 text-center fw-normal">Registro de usuario</h1>
            </div>
            <form action="." method="">
                <div class="mb-2 form-floating">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
                    <label for="email" class="form-label">Correo electrónico</label>
                </div>
                <div class="mb-2 form-floating">
                    <input type="text" class="form-control" id="cedula" placeholder="cedula" required>
                    <label for="cedula" class="form-label">Cédula</label>
                </div>
                <div class=" mb-2 form-floating">
                    <input type="text" class="form-control" id="nombre" placeholder="nombre" required>
                    <label for="nombre" class="form-label">Nombres</label>
                </div>
                <div class="mb-2 form-floating">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" required>
                    <label for="apellidos" class="form-label">Apellidos</label>
                </div>
                <div class="mb-2 form-floating">
                    <input type="text" class="form-control" id="direccion" placeholder="direccion" required>
                    <label for="direccion" class="form-label">Dirección</label>
                </div>      
                
                <div class="mb-4">
                    <label for="cargo" class="form-label">Cargo</label>
                    <select class="form-select" id="" required>
                      <option Seleccione un elemento de la lista="">Elige...</option>
                      <option>Sublimación</option>
                      <option>Bordado</option>
                      <option>Impresión</option>
                      <option>Diseñador</option>
                    </select>
                    <p class="formulario_input-error">Seleccione su cargo correcto...</p>
                  </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-outline-primary w-100">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}